@model List<NAiME.Models.ChangeLog>
@{
}

<h3>Change Log</h3>
<table class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Version Number</th>
        <th>Date</th>
        <th>Information</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var change in Model)
    {
        <tr>
            <td>@change.VersionNumber</td>
            <td>@change.Date.ToLongDateString()</td>
            <td>@change.Information</td>
        </tr>
    }
    </tbody>
</table>