@using NAiME.Models.Character
@model NAiME.Models.Character.Character

<table class="table table-bordered text-center">
    <tr>
        <td style="width: 33.333%">Armor Class</td>
        <td style="width: 33.333%">Initiative</td>
        <td style="width: 33.333%">Speed</td>
    </tr>
    <tr>
        <td class="col-md-12" colspan="3">Current Hit Points</td>
    </tr>
    <tr>
        <td colspan="3">
            <div style="float: left; width: 50%; border-right: 1px solid black">
                Temporary Hit Points
            </div>
            <div style="float: right; width: 50%">
                Miserable
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="3">
            <div style="float: left; width: 50%; border-right: 1px solid black">
                Hit Dice
            </div>
            <div style="float: right; width: 50%">
                Death Saves
            </div>
        </td>
    </tr>
</table>