@using NAiME.Models
@model NAiME.Models.ApplicationUser

<table style="width: 100%" class="container">
    <tr>
        <td>
            <h1>Characters</h1>
        </td>
        <td>
            <input value="New Character" type="button" class="btn btn-primary" onclick="location.href = '@Url.Action("New","Characters")'" />
        </td>
    </tr>
</table>

@{
    var userToken = Model.UserToken;
    var tableHeaders = new List<string> { "Name", "Strength", "Dexterity", "Constitution", "Intelligence", "Wisdom", "Charisma", "Shadow", "Character Token" };
    <table id="characterDataTable" class="table table-hover">
        <thead>
        <tr>
            @foreach(var header in tableHeaders) { <th scope="col">@header</th>}
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {
            var table = $("#characterDataTable").DataTable({
                ajax: {
                    url: "/api/characters?query=@userToken",
                    dataSrc: ""
                },
                columns: [
                    {
                        render: function(data, type, character) {
                            return "<a href='/characters/edit?query=" + character.characterToken + "'>" + character.name + "</a>";
                        }
                    },
                    {
                        data: "characterMainStats.strength"
                    },
                    {
                        data: "characterMainStats.dexterity"
                    },
                    {
                        data: "characterMainStats.constitution"
                    },
                    {
                        data: "characterMainStats.intelligence"
                    },
                    {
                        data: "characterMainStats.wisdom"
                    },
                    {
                        data: "characterMainStats.charisma"
                    },
                    {
                        data: "characterMainStats.shadow"
                    },
                    {
                        data: "characterToken"
                    }
                ]
            });
        });

    </script>>
}